.slider {
  .slider-control-bottomcenter {
    position: relative !important;
    transform: none !important;
    left: 0 !important;
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
}
